@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    background: grey;
}
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.canvas {
    border: 3px solid black;
}

.top, .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}

.block,
input,
select,
button {
    width: 80%;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 600;
}

.column {
    display: flex;
    flex-direction: column;
}

.bottom>button {
    margin: 10px;
}

.btn{
    height: 50px;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
}

#clearButton{
    background-color: rgb(246, 96, 96);
    border: 5px solid red;
}

#saveButton{
    background-color: rgb(98, 98, 250);
    border: 5px solid blue;
}

#retrieveButton{
    background-color: rgb(253, 253, 112);
    border: 5px solid yellow;
}

.top>.block {
    margin: 10px;
}

.block>p {
    margin: 10px auto;
    width: 50%;
}